<section class="page">
  <h1 class="aurora">Дашборд</h1>

  <div class="dashboard">
    <p-card header="Бронирования">
      <p>Всего бронирований: <span class="aurora">{{ (books$ | async)?.length }}</span></p>
    </p-card>
    <p-card header="Пользователей">
      <p>Всего пользователей: <span class="aurora">{{ (users$ | async)?.length }}</span></p>
    </p-card>
    <p-card header="Номера">
      <p>Всего номеров: <span class="aurora">{{ (rooms$ | async)?.length }}</span></p>
      <p>Номера "Стандарт": <span class="aurora">{{ (roomsStandart$ | async)?.length }}</span></p>
      <p>Номера "Комфорт": <span class="aurora">{{ (roomsComfort$ | async)?.length }}</span></p>
      <p>Номер "Люкс": <span class="aurora">{{ (roomsLux$ | async)?.length }}</span></p>
    </p-card>
  </div>
</section>
