<section class="page page-auth">
  <div class="auth-form">
    <h1>Авторизация</h1>

    <form [formGroup]="logInForm" (ngSubmit)="logIn()">
      <p-iftalabel>
        <input pInputText formControlName="email" id="login" autocomplete="off" />

        <label for="login">Электронная почта</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-password [feedback]="false" inputId="password" formControlName="password" />
        <label for="password">Пароль</label>
      </p-iftalabel>

      <p class="link">
        Нет аккаунта? <a [routerLink]="['/auth/sign-up']">Зарегистрироваться</a>
      </p>

      <p-button label="Войти" type="submit" />
    </form>
  </div>

</section>
