<section class="page">
  <h1 class="aurora">Список столов</h1>

  @let tables = tables$ | async;
  @if (tables) {
    <p-table
      [value]="tables"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="20"
      [rowsPerPageOptions]="[20, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Номер</th>
          <th>Рассчитано на персон</th>
          <th>Цена бронирования</th>
          <th>Тип номера</th>
          <th>
            Действия
            <p-button (click)="refreshList()" icon="pi pi-refresh" [rounded]="true" [text]="true" />
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-table>
        <tr>
          <td>{{ table.id }}</td>
          <td>{{ table.name }}</td>
          <td>{{ table.number }}</td>
          <td>{{ table.capacity }}</td>
          <td>{{ table.bookPrice }}</td>
          <td>{{ table.tableType ? table.tableType.name : 'N/A' }}</td>
          <td>
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="openEditDialog(table.id)" title="Редактировать" />
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" (click)="deleteRoom(table.id)" title="Удалить" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    net
  }
</section>

<p-dialog
  [header]="'Редактирование стола #' + editForm.controls['id'].value"
  [modal]="true"
  [(visible)]="editDialog"
  [style]="{ width: '800px' }"
>
  <div class="dialog">
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()" class="dialog__form">

      <p-iftalabel>
        <input pInputText formControlName="name" id="name" autocomplete="off" />
        <label for="name">Название</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="number" formControlName="number"/>
        <label for="number">Номер</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="bedCapacity" formControlName="bedCapacity"/>
        <label for="bedCapacity">Рассчитано на персон</label>
      </p-iftalabel>

      <p-iftalabel>
        <textarea id="description" rows="5" cols="30" pTextarea formControlName="description"></textarea>
        <label for="description">Описание</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="bookPrice" formControlName="bookPrice"/>
        <label for="bookPrice">Цена бронирования</label>
      </p-iftalabel>

      <p-iftalabel>
        <input pInputText formControlName="imageUrl" id="imageUrl" autocomplete="off" />
        <label for="imageUrl">Ссылка на картинку</label>
      </p-iftalabel>

      <p-iftalabel>
        <textarea id="extra" rows="5" cols="30" pTextarea formControlName="extra"></textarea>
        <label for="extra">Экстра-информация</label>
      </p-iftalabel>

      <p-iftalabel class="w-full md:w-56">
        <p-select
          formControlName="tableTypeId"
          inputId="table-type"
          [options]="tableTypes"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
        />
        <label for="table-type">Тип стола</label>
      </p-iftalabel>

    </form>

    <div class="dialog__actions">
      <p-button label="Cancel" severity="secondary" (click)="cancelEditDialog()" />
      <p-button label="Save" (click)="submitEdit()" />
    </div>
  </div>

</p-dialog>
