<section class="page page-home">

  <div class="info plate">
    <div class="info__side">
      <div class="info__content">
        <h1>Заголовок для приложения!!</h1>

        <span>
          <p>Добро пожаловать в Tadavia – уголок Мексики в самом сердце вашего города!</p>
          <p>Мы создаем аутентичные блюда мексиканской кухни, пропитанные духом солнечного ацтекского наследия. В нашем меню вы найдете пикантные тако, сытные буррито, освежающие маргариты и многое другое, что перенесет вас в атмосферу ярких мексиканских улиц.</p>
          <p>Каждое блюдо готовится с любовью из свежайших ингредиентов и подается с теплом традиционного гостеприимства. В Tadavia мы верим, что еда – это искусство, а каждый прием пищи – маленький праздник. Присоединяйтесь к нам, чтобы открыть для себя настоящий вкус Мексики!</p>
        </span>
      </div>

      <p-button [routerLink]="['/']" label="Основное действие" size="large"/>
    </div>
    <div class="info__side info__side-img">
      <img src="assets/img/heading-taco.png" alt="">
    </div>
  </div>

</section>
