<div class="test-info">
  @let user = (activeUser$ | async);
  <div>Account: {{ user?.email ?? 'N/A'  }}</div>
  <div>id: {{ user?.id ?? 'N/A'  }}</div>
  <div>Roles: {{ user?.roles ?? 'N/A' | json }}</div>
  <button (click)="authService.logout()">Exit</button>
</div>

<ul>
  <li>
    <a [routerLink]="['/']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/profile']">Profile (authenticated only)</a>
  </li>
  <li>
    <a [routerLink]="['/admin']">Admin (authenticated & authorized as admin only)</a>
  </li>
  <li>
    <a [routerLink]="['/auth/log-in']">Log in (non-authenticated only)</a>
  </li>
  <li>
    <a [routerLink]="['/auth/sign-up']">Sign up (non-authenticated only)</a>
  </li>
</ul>

<hr />

<router-outlet />
