<section class="page">
  <h1 class="aurora">Список номеров</h1>

  @let rooms = rooms$ | async;
  @if (rooms) {
    <p-table
      [value]="rooms"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="20"
      [rowsPerPageOptions]="[20, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Номер</th>
          <th>Спальных мест</th>
          <th>Цена за ночь</th>
          <th>Тип номера</th>
          <th>
            Действия
            <p-button (click)="refreshList()" icon="pi pi-refresh" [rounded]="true" [text]="true" />
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-room>
        <tr>
          <td>{{ room.id }}</td>
          <td>{{ room.name }}</td>
          <td>{{ room.number }}</td>
          <td>{{ room.bedCapacity }}</td>
          <td>{{ room.pricePerNight }}</td>
          <td>{{ room.roomType ? room.roomType.name : 'N/A' }}</td>
          <td>
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="openEditDialog(room.id)" title="Редактировать" />
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" (click)="deleteRoom(room.id)" title="Удалить" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    net
  }
</section>

<p-dialog
  [header]="'Редактирование номера #' + editForm.controls['id'].value"
  [modal]="true"
  [(visible)]="editDialog"
  [style]="{ width: '800px' }"
>
  <div class="dialog">
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()" class="dialog__form">

      <p-iftalabel>
        <input pInputText formControlName="name" id="name" autocomplete="off" />
        <label for="name">Название</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="number" formControlName="number"/>
        <label for="number">Номер</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="bedCapacity" formControlName="bedCapacity"/>
        <label for="bedCapacity">Спальных мест</label>
      </p-iftalabel>

      <p-iftalabel>
        <textarea id="description" rows="5" cols="30" pTextarea formControlName="description"></textarea>
        <label for="description">Описание</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-input-number inputId="pricePerNight" formControlName="pricePerNight"/>
        <label for="pricePerNight">Цена за ночь</label>
      </p-iftalabel>

      <p-iftalabel>
        <input pInputText formControlName="imageUrl" id="imageUrl" autocomplete="off" />
        <label for="imageUrl">Ссылка на картинку</label>
      </p-iftalabel>

      <p-iftalabel>
        <textarea id="extra" rows="5" cols="30" pTextarea formControlName="extra"></textarea>
        <label for="extra">Экстра-информация</label>
      </p-iftalabel>

      <p-iftalabel class="w-full md:w-56">
        <p-select
          formControlName="roomTypeId"
          inputId="room-type"
          [options]="roomTypes"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
        />
        <label for="room-type">Тип номера</label>
      </p-iftalabel>

      <p-iftalabel class="w-full md:w-80">
        <p-multi-select
          [options]="amenities"
          formControlName="amenityIds"
          optionLabel="name"
          optionValue="id"
          placeholder="Выберите удобства"
          inputId="roles"
          appendTo="body"
          styleClass="w-full md:w-80"
        />
        <label for="roles">Удобства</label>
      </p-iftalabel>

    </form>

    <div class="dialog__actions">
      <p-button label="Cancel" severity="secondary" (click)="cancelEditDialog()" />
      <p-button label="Save" (click)="submitEdit()" />
    </div>
  </div>

</p-dialog>
