<section class="page">
  <h1>Бронирование номера</h1>

  <div class="book">
    @let table = table$ | async;

    @if (table) {
      <p class="book__room"><a [routerLink]="['/book/room/', table.id]">Номер: {{ table.id }}</a></p>
      <p-iftalabel>
        <input pInputText [value]="table?.name" disabled id="table-number" autocomplete="off"/>

        <label for="table-number">Столик</label>
      </p-iftalabel>

      <form [formGroup]="bookForm" (ngSubmit)="submit(table.id)" class="book__form">
        <p>Период</p>
        <p-iftalabel>
          <p-date-picker
            [readonlyInput]="true"
            [showIcon]="true"
            formControlName="bookDate"
            dateFormat="dd.mm.yy"
            inputId="bookDate"
          />
          <label for="bookDate">Дата бронирования</label>
        </p-iftalabel>

        <p-iftalabel>
          <p-input-number inputId="persons" formControlName="persons"/>
          <label for="persons">Количество персон</label>
        </p-iftalabel>

        <p-iftalabel>
          <textarea id="comment" rows="5" cols="30" pTextarea formControlName="comment"></textarea>
          <label for="comment">Комментарий</label>
        </p-iftalabel>

        <p-button type="submit" label="Забронировать"/>
      </form>
    }
  </div>
</section>
