<section>
  @let user = user$ | async;
  <h1>Профиль пользователя</h1>

  @if (user) {
    <div class="profile">
      <p>Идентификатор {{ user.id }}</p>
      <p>Имя пользователя {{ user.username }}</p>
      <p>Электронная почта {{ user.email }}</p>
      <div class="roles">
        <span>Роли:</span>
        <div class="role-list">
          @for (role of user.roles; track role.id) {
            <div class="role">{{ role.name }} [lvl{{ role.level }}]</div>
          }
        </div>
      </div>
      <p>Полное имя {{ user.surname }} {{ user.name }} {{ user.patronymic }}</p>
      <p>Телефон: {{ user.phone }}</p>
    </div>
  }
</section>
