.room {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-07);
  }

  &__image > img {
    aspect-ratio: 16 / 9;
    height: 400px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-05);
  }

  &__header {
    display: flex;
    gap: var(--spacing-04);
  }

  &__type {
    flex: 0 0 auto;
    color: var(--text-secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 8px 10px;
    width: fit-content;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.standart {
      border: 1px solid var(--p-teal-500);
      color: var(--p-teal-600);
    }

    &.confort {
      border: 1px solid var(--p-emerald-500);
      color: var(--p-emerald-600);
    }

    &.lux {
      border: 1px solid var(--p-amber-500);
      color: var(--p-amber-600);
    }
  }

  &__amenity-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-03);
  }

  &__amenity {
    font-size: 0.75rem;
    color: var(--text-secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 6px;
  }
}
