<section class="page">
  <h1 class="aurora">Список столиков к бронированию</h1>

  <div class="table-list">
    @let allTables = allTables$ | async;
    @for (table of allTables; track table.id) {
      <div class="table">
        <img [src]="table.imageUrl" [alt]="table.name" class="table__image">
        <div class="table__container">
          <div class="table__content">
            <h3>{{ table.name }}</h3>

            <span class="table__capacity">Рассчитано на {{ table.capacity }} персон</span>

            <span>{{ table.description }}</span>
          </div>
          <div class="table__footer">
            <div class="table__price">
              <span class="table__price-price">{{ table.bookPrice }} ₽</span>
              <span class="table__price-per">Cтоимость брони</span>
            </div>

            <p-button (click)="bookTable($event, table.id)" label="Забронировать столик" />
          </div>
        </div>
      </div>
    }
  </div>
</section>
