<section class="page page-home">

  <div class="info">

    <h1>Добро пожаловать в <span class="aurora">Aurora Stay</span> — <br>&emsp;ваш комфорт начинается здесь!</h1>

    <p>
      Aurora Stay — это уютный и стильный отель, где каждый номер создан для того, чтобы гости чувствовали себя как дома. Здесь вы сможете насладиться тишиной, комфортом и сервисом премиум-класса, будь то короткая командировка или длительный отпуск. Особое внимание уделено деталям: от дизайнерских интерьеров до современных удобств. У нас вы найдете номера на любой вкус, от стандартных до люксов с видом на город или природу.
    </p>

    <p-button [routerLink]="['/book/room/list']" label="Забронировать номер" size="large" />
  </div>

</section>
