.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--topbar-sticky-background);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  position: sticky;

  height: var(--header-height);
  display: flex;
  justify-content: space-between;

  &__side {
    display: flex;
    gap: var(--spacing-04);
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    &__image {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }

  .navbar {
    display: flex;
    gap: var(--spacing-04);
  }
}
