@let user = authService.activeUser$ | async;
<header class="header">
  <div class="header__side">
    <div class="logo">
      <a [routerLink]="['/']" class="logo__link">
        TADAVIA
      </a>
    </div>
  </div>

  <div class="header__side">
    <nav class="navbar">
      @if (user && authService.hasRole([5])) {
        <a [routerLink]="['admin/book/list']" routerLinkActive="active">
          Бронирования
        </a>
        <a [routerLink]="['admin/table/list']" routerLinkActive="active">
          Столики
        </a>
        <a [routerLink]="['admin/users']" routerLinkActive="active">
          Клиенты
        </a>
      } @else {
        <a [routerLink]="['book/table/list']" routerLinkActive="active">
          Заказать столик
        </a>
        <a
          [routerLink]="['book/list']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Мои бронирования
        </a>
      }

    </nav>
  </div>
  <div class="header__side">
<!--    TODO: сделать меню из PrimeNG-->
    @if (user) {
      <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
    } @else {
      <p-button
        [routerLink]="['auth/log-in']"
        [link]="true"
        icon="pi pi-user"
        label="Войти"
      />
    }
  </div>
</header>

<p-menu #menu [model]="accountMenuItems" [popup]="true"></p-menu>
