@use "reset";
@use "variables";

@import "primeicons/primeicons.css";

body {
  font-family: "Inter", sans-serif;
  background-color: var(--ground-background);
}

h1 {
  font-size: 2rem;
  color: var(--text-color);
}

h2 {
  font-size: 1.75rem;
  color: var(--text-color);
}

h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

h4 {
  font-size: 1.25rem;
  color: var(--text-color);
}

section, header, footer, .container {
  padding: 0 15px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.full-width {
    padding: 0 var(--spacing-02);
  }
}

section[class] {
  padding-top: var(--spacing-06);
  padding-bottom: var(--spacing-06);
}

.page {
  min-height: calc(100vh - var(--header-height));
  gap: var(--spacing-06);

  &__header {
    display: flex;
    gap: var(--spacing-07);
  }
}

@media (min-width: 575.98px){
  section, header, footer, .container {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  section, header, footer, .container {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section, header, footer, .container {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  section, header, footer, .container {
    padding: 0 calc(13vw - 114px);
  }
}

@keyframes text-aura {
  0% {
    text-shadow:
      0 -15px 15px rgba(chartreuse, 0.8),
      0 -4px 15px rgba(magenta, 0.8),
      5px -5px 15px rgba(cyan, 0.8),
      -3px -3px 15px rgba(black, 0.8);
  }
  33.333% {
    text-shadow:
      0 4px 12px rgba(cyan, 0.8),
      5px -10px 25px rgba(magenta, 1),
      -4px 0 35px rgba(chartreuse, 0.8),
      3px 3px 15px rgba(black, 0.5);
  }
  66.666% {
    text-shadow:
      0 0 50px rgba(chartreuse, 1),
      5px -12px 8px rgba(cyan, 0.8),
      15px -5px 15px rgba(magenta, 0.6),
      0 -10px 23px rgba(black, 0.8);
  }
  100% {
    text-shadow:
      0 -15px 15px rgba(chartreuse, 0.8),
      0 -4px 15px rgba(magenta, 0.8),
      -3px -3px 15px rgba(black, 0.8),
      5px -5px 15px rgba(cyan, 0.8);
  }
}


.aurora {
  animation: text-aura 15s ease-out infinite;
}


