.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
  justify-content: space-between;
  gap: var(--spacing-06);

  .room {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-04);

    border: 1px solid var(--primary-contrast-color);
    border-radius: 8px;
    overflow: hidden;

    cursor: pointer;

    &__image {
      height: 200px;
      object-fit: cover;
    }

    &__container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--spacing-03);

      padding: var(--spacing-04);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-03);
    }

    &__bed-capacity {
      color: var(--text-secondary-color);
    }

    &__amenity-list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-03);
    }

    &__amenity {
      font-size: 0.75rem;
      color: var(--text-secondary-color);
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 4px 6px;

      &.standart {
        border: 1px solid var(--p-teal-500);
        color: var(--p-teal-600);
      }

      &.confort {
        border: 1px solid var(--p-emerald-500);
        color: var(--p-emerald-600);
      }

      &.lux {
        border: 1px solid var(--p-amber-500);
        color: var(--p-amber-600);
      }
    }

    .room__footer {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-04);
    }

    &__price {
      &-price {
        font-size: 1.5rem;
      }

      &-per {
        font-size: 0.75rem;
        color: var(--text-secondary-color);
      }
    }
  }
}
